body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #333;
    color: #fff;
}

#countdown {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 2em;
}
